
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>查看计划任务</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" type="text/css" href="../../static/iconfont/feicon/style.css"/>
  <link rel="stylesheet" type="text/css" href="../../static/css/public.css"/>
</head>

<body>
<div class="right-row">
  <div class="right-row-scroll">
    <!--region 基本信息-->
    <div>
      <div class="right-title" style="margin-bottom: -6px">基本信息</div>
      <div class="right-dl-div">
        <dl><dt>事项分类</dt><dd>技术维护</dd></dl>
        <dl><dt>事项名称</dt><dd>代理记账</dd></dl>
        <dl><dt>提醒模式(频率)</dt><dd>每季度</dd></dl>
        <dl><dt>提醒时间</dt><dd>2017-12-01</dd></dl>
        <dl>
          <dt>循环提醒</dt>
          <dd>
          <label class="fe-switch">
            <input type="checkbox" id="xhtx" class="cbx">
            <label for="xhtx" class="lbl"></label>
          </label>
        </dd>
        </dl>
        <dl><dt>事项内容</dt><dd>哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</dd></dl>
        <dl><dt>处理状态</dt><dd>待处理</dd></dl>
      </div>
    </div>
    <!--endregion 基本信息-->
  </div>

  <div class="right-row-foot">
    <a class="febtn-default">已处理</a>
  </div>
</div>
</body>
<script type="text/javascript" charset="utf-8" src="../../static/lib/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/lib/layer/layer.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/js/publicObj.js"></script>
<script>

</script>
</html>
