<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>服务条款</title>
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/company_profile.css">
</head>
<body class="body-company-profile">
<!--region 顶部header-->
<div class="header skin-white">
  <div class="head-left"></div>
  <div class="head-right">
    <ul class="head-nav">
      <li><a href="index.html">首页</a></li>
      <li><a href="function.html">功能</a></li>
      <li><a href="package_price.html">套餐价格</a></li>
      <li><a href="contact_us.html">联系我们</a></li>
      <li class="active"><a href="support_help.html">支持帮助</a></li>
    </ul>
    <div class="head-login">
      <a class="wbtn-green">注册试用</a>
      <a class="wbtn-green">登录</a>
    </div>
  </div>
</div>
<!--endregion-->

<div class="swiper-company-profile">
  <div class="swi-container">
    <div class="title"></div>
    <div class="desc">
      <p>为用户创造价值，为企业赢得朋友</p>
    </div>
  </div>
</div>

<div class="company-main">
  <div class="main-list company-js">
    <div class="title">公司介绍</div>
    <div class="js-content">
      <div class="list">
        <div class="t">财务专家企业财税服务平台</div>
        <div class="d">财务专家是新一代的企业财税服务平台，总部“上海财妙信息科技有限公司”位于上海，并在杭州设立全资子公司“杭州账王科技有限公司”，致力于企业记账相关产品的开发和服务，现在正处于飞速发展和壮大中。</div>
      </div>
      <div class="list">
        <div class="t">财务专家产品</div>
        <div class="d">财务专家是基于SAAS理念的财务O2O平台，安卓版、iphone版与PC版完全同步。
          企业记账软件：针对老板或行政等非专业财务人员，不懂会计也会记账，解决收支流水、应收应付、进销存等问题；多用户、分权限；APP在手，记账每一步实时监控；一站解决企业财税烦恼。包括独立报税服务，标准化作业流程，三级质量把控体系；银行账准确无误，全部票据入账；价格统一，明码标价；更包含公司注册、工商变更、社保代缴、法律顾问、理财信贷、办公租赁等管家式服务。
      </div>
      </div>
      <div class="list">
        <div class="t">财务专家行业地位</div>
        <div class="d">财务专家凭借出色的产品设计和优质的服务，赢得了广大会员的支持和赞美，在市场上树立了良好的口碑和品牌形象，先后被中央2台、北京电视台、浙江卫视、新华网等众多媒体报道。目前“账王”已经发展至56万用户。</div>
      </div>
    </div>
  </div>
  <div class="main-list company-zjtd">
    <div class="title">财务专家团队</div>
    <div class="zjtd-content">
      <div class="info">财务专家核心团队是由70、80、90老中青搭配的创业三人组，均是有多次创业经历的创业老兵。公司拥有一支年轻的创新型团队，及专业的会计做账团队。团队具有雄厚的技术实力和敏锐的创新意识， 我们致力于“用互联网的方式，颠覆传统的代理记账行业”，彻底结束目前代账行业小散乱的局面，使中国千万个中小微创业企业彻底摆脱财务烦恼。</div>
      <div class="photo">
        <img src="../static/images/company_profile/jstu1.png">
        <img src="../static/images/company_profile/jstu2.png">
      </div>
    </div>
  </div>
</div>

<div class="foot-common">
  <div class="f-container">
    <div class="f-link4">
      <a href="module_licence.html">服务条款</a>
      <a href="company_profile.html">公司介绍</a>
      <a href="contact_us.html">联系我们</a>
      <a href="support_help.html">帮助手册</a>
    </div>
    <div class="f-link3">
      <a>4006-360-658</a>
      <a>Email: kf@cash360.cn</a>
      <a>周一到周五9:00-22:00</a>
    </div>
  </div>
  <div class="friends-copyright">
    <div class="f-friends">
      <span>友情链接:</span>
      <a>快租365</a>
      <a>第二办公室</a>
      <a>zol软件下载</a>
      <a>绿盟</a>
      <a>非凡软件站</a>
      <a>仁和会计培训</a>
      <a>中国会计网</a>
      <a>中华会计网校</a>
    </div>
    <div class="f-copyright">沪ICP备14010763号-1 | 公安备案号33010602010201 | Copyright © 2019 财务管家</div>
  </div>
</div>

<!--region 右侧公共客服弹框-->
<ul class="right-service">
  <li>
    <div class="float-div"><i class="rsicon-weixin"></i><p>微信</p></div>
  </li>
  <li>
    <div class="float-div"><i class="rsicon-app"></i><p>下载</p></div>
  </li>
  <li>
    <div class="float-div"><i class="rsicon-qq"></i><p>客服</p></div>
  </li>
  <li>
    <div class="float-div"><i class="rsicon-jishu"></i><p>技术</p></div>
  </li>
</ul>
<!--endregion-->

</body>
<script type="text/javascript" src="../static/lib/jquery/jquery-3.2.1.min.js"></script>
<script>
  $(function () {
    $(window).scroll(function() {
      changeHeaderSkin()
    })
  })
  changeHeaderSkin()
  function changeHeaderSkin () {
    var offsetWidth = document.body.offsetWidth;
    var changeH = offsetWidth * 0.15625
    var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)
    if(srollPos >= changeH) {
      $('.header').addClass('skin-2')
    } else {
      $('.header').removeClass('skin-2')
    }
  }

</script>
</html>