<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>功能</title>
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="../static/css/function.css">
</head>
<body class="body-function">
<!--region 顶部header-->
<div class="header skin-white">
  <div class="head-left"></div>
  <div class="head-right">
    <ul class="head-nav">
      <li><a href="index.html">首页</a></li>
      <li class="active"><a href="function.html">功能</a></li>
      <li><a href="package_price.html">套餐价格</a></li>
      <li><a href="contact_us.html">联系我们</a></li>
      <li><a href="support_help.html">支持帮助</a></li>
    </ul>
    <div class="head-login">
      <a class="wbtn-green">注册试用</a>
      <a class="wbtn-green">登录</a>
    </div>
  </div>
</div>
<!--endregion-->

<div class="swiper-function">
  <div class="swi-container">
    <div class="title">财务专家 一站式解决企业记账</div>
    <div class="desc">
      <p>无论您是企业老板，财务员工，部门负责等，无需任何会计知识，轻松管好每一分钱</p>
      <p>电脑网页，草果手机 安卓手机，微信小程序多终端实是同步管理，从此告别糊涂账。</p>
    </div>
  </div>
</div>

<div class="function-list">
  <ul>
    <li>
      <div class="list-container">
        <div class="text">
          <div class="t">收入、支出、利润</div>
          <div class="desc">
            <p>钱都花到哪儿去了？ 工资多少？电费多少？ 办公用品多少？</p>
            <p>从此一目了然。</p>
            <p>不同工作人员分配不同权限，</p>
            <p>账目添加，审核，查看权限自由分配，</p>
            <p>股东账目公开透明，实时添加统计查询</p>
          </div>
        </div>
        <div class="img">
          <img src="../static/images/function/list_1.png">
        </div>
      </div>
    </li>
    <li>
      <div class="list-container">
        <div class="img">
          <img src="../static/images/function/list_2.png">
        </div>
        <div class="text">
          <div class="t">往来款 应收款、应付款</div>
          <div class="desc">
            <p>从此以后谁欠我的钱，我欠谁的钱，一目了然。</p>
            <p>而且不管是多退少补、分次还款等，都轻松搞定</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="list-container">
        <div class="text">
          <div class="t">计划任务</div>
          <div class="desc">
            <p>周期性繁杂账单如何搞定，经常忘记，不用担心，</p>
            <p>计划任务及时提醒你，解放你的大脑</p>
          </div>
        </div>
        <div class="img">
          <img src="../static/images/function/list_3.png">
        </div>
      </div>
    </li>
    <li>
      <div class="list-container">
        <div class="img">
          <img src="../static/images/function/list_4.png">
        </div>
        <div class="text">
          <div class="t">报销管理</div>
          <div class="desc">
            <p>微信小程序辅助报销功能，让公司报销更简单，更方便</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="list-container">
        <div class="text">
          <div class="t">员工管理</div>
          <div class="desc">
            <p>员工基本档案信息录入，员工工资计算与推送，</p>
            <p>员工报销，员工管理，一招搞定</p>
          </div>
        </div>
        <div class="img">
          <img src="../static/images/function/list_5.png">
        </div>
      </div>
    </li>
    <li>
      <div class="list-container">
        <div class="img">
          <img src="../static/images/function/list_6.png">
        </div>
        <div class="text">
          <div class="t">资产管理</div>
          <div class="desc">
            <p>固定资产的管理涉及到比较复杂的财务知识</p>
            <p>在财务专家中，一键搞定</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="list-container">
        <div class="text">
          <div class="t">权限分配</div>
          <div class="desc">
            <p>多用户，分权限，可以设置多个账号，员工记账，老板查账。</p>
            <p>并可以通过权限控制每个人看到不同的账目</p>
            <p>尽在掌握</p>
          </div>
        </div>
        <div class="img">
          <img src="../static/images/function/list_7.png">
        </div>
      </div>
    </li>
  </ul>
</div>
<!--region 6大行业-->
<div class="industry-list">
  <div class="title-index">
    <h1>六大行业全部适用</h1>
    <div class="title-desc">
      <p>适应更加广泛的行业，让记账不再成为您的困扰</p>
    </div>
  </div>
  <ul>
    <li><img src="../static/images/index/industry_chuangye.png"><p>创业公司</p></li>
    <li><img src="../static/images/index/industry_fengs.png"><p>分公司</p></li>
    <li><img src="../static/images/index/industry_bm.png"><p>公司部门</p></li>
    <li><img src="../static/images/index/industry_liansuo.png"><p>连锁店</p></li>
    <li><img src="../static/images/index/industry_wangdian.png"><p>网店</p></li>
    <li><img src="../static/images/index/industry_jiagc.png"><p>加工厂</p></li>
  </ul>
</div>
<!--endregion-->

<div class="foot-index">
  <div class="title">财务专家，记录每一笔账，管理好每一分钱，让你做个省心的老板</div>
  <div><a class="wbtn-green">免费试用</a></div>
</div>
<div class="foot-common">
  <div class="f-container">
    <div class="f-link4">
      <a href="module_licence.html">服务条款</a>
      <a href="company_profile.html">公司介绍</a>
      <a href="contact_us.html">联系我们</a>
      <a href="support_help.html">帮助手册</a>
    </div>
    <div class="f-link3">
      <a>4006-360-658</a>
      <a>Email: kf@cash360.cn</a>
      <a>周一到周五9:00-22:00</a>
    </div>
  </div>
  <div class="friends-copyright">
    <div class="f-friends">
      <span>友情链接:</span>
      <a>快租365</a>
      <a>第二办公室</a>
      <a>zol软件下载</a>
      <a>绿盟</a>
      <a>非凡软件站</a>
      <a>仁和会计培训</a>
      <a>中国会计网</a>
      <a>中华会计网校</a>
    </div>
    <div class="f-copyright">沪ICP备14010763号-1 | 公安备案号33010602010201 | Copyright © 2019 财务管家</div>
  </div>
</div>

<!--region 右侧公共客服弹框-->
<ul class="right-service">
  <li>
    <div class="float-div">
      <i class="rsicon-weixin"></i><p>微信</p>
      <div class="float-layer qrcode">
        <img src="../static/images/common/qrcode_img.png">
        <p>关注财务管家公众号</p>
      </div>
    </div>
  </li>
  <li>
    <div class="float-div">
      <i class="rsicon-app"></i><p>下载</p>
      <div class="float-layer qrcode">
        <img src="../static/images/common/qrcode_img.png">
        <p>下载财务管家APP</p>
      </div>
    </div>
  </li>
  <li>
    <div class="float-div">
      <i class="rsicon-qq"></i><p>客服</p>
      <div class="float-layer service">
        <div class="t">客服</div>
        <div class="list">
          <a>
            <img src="../static/images/common/qq_default.png">
            <span>客服MM客服MM</span>
          </a>
          <a>
            <img src="../static/images/common/qq_default.png">
            <span>客服MM</span>
          </a>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="float-div">
      <i class="rsicon-jishu"></i><p>技术</p>
      <div class="float-layer service">
        <div class="t">技术</div>
        <div class="list">
          <a>
            <img src="../static/images/common/qq_default.png">
            <span>技术MM</span>
          </a>
        </div>
      </div>
    </div>
  </li>
</ul>
<!--endregion-->
</body>
<script type="text/javascript" src="../static/lib/jquery/jquery-3.2.1.min.js"></script>
<script>
  $(function () {
    $(window).scroll(function() {
      changeHeaderSkin()
    })
  })
  changeHeaderSkin()
  function changeHeaderSkin () {
    var offsetWidth = document.body.offsetWidth;
    var changeH = offsetWidth * 0.234375
    var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)
    if(srollPos >= changeH) {
      $('.header').addClass('skin-2')
    } else {
      $('.header').removeClass('skin-2')
    }
  }

</script>
</html>
