<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../static/lib/swiper-5.2.1/swiper.min.css">
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body class="body-index">
<!--region 顶部header-->
<div class="header">
  <div class="head-left"></div>
  <div class="head-right">
    <ul class="head-nav">
      <li class="active">首页</li>
      <li>功能</li>
      <li>套餐价格</li>
      <li>联系我们</li>
      <li>支持帮助</li>
    </ul>
    <div class="head-login">
      <a class="wbtn-green">注册试用</a>
      <a class="wbtn-green">登录</a>
    </div>
  </div>
</div>
<!--endregion-->

<!--region swiper 轮播-->
<div class="swiper-index">
  <div class="swiper-wrapper">
    <div class="swiper-slide slide-1">
      <div class="slide-container">
        <div class="slide-info">
          <div class="info-text">
            <p>5分钟轻松上手</p>
            <p>无需专业会计知识</p>
          </div>
          <div class="slide-btn">
            <a class="wbtn-green">免费试用</a>
            <a class="wbtn-white">极速演示</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide slide-2">
      <div class="slide-container">
        <div class="slide-info">
          <div class="info-tip">手机APP电脑版微信小程序</div>
          <div class="info-text">
            <p>全平台同步记账</p>
            <p>真正做到随时随地记账</p>
          </div>
          <div class="slide-btn">
            <a class="wbtn-green">免费试用</a>
            <a class="wbtn-white">极速演示</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide slide-3">
      <div class="slide-container">
        <div class="slide-info">
          <div class="info-text">
            <p>中小企业记账就用财务专家</p>
          </div>
          <div class="slide-btn">
            <a class="wbtn-green">免费试用</a>
            <a class="wbtn-white">极速演示</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
<!--endregion-->

<div>
  <!--region 选择的八大理由-->
  <div class="choose-reason">
    <div class="title-index">
      <h1>选择我们的八大理由</h1>
      <div class="title-desc">
        <p>财务专家平台借助行业最佳的实践的账目管理经验，</p>
        <p>助力公司、个人财务管理全面迈入数字化时代</p>
      </div>
    </div>
    <ul>
      <li>
        <img src="../static/images/index/reason_jichu.png">
        <div class="title">零基础</div>
        <div class="desc">5分钟上手，无需会计知识</div>
      </li>
      <li>
        <img src="../static/images/index/reason_pingt.png">
        <div class="title">全平台</div>
        <div class="desc">APP、微信小程序、电脑版，全平台记账</div>
      </li>
      <li>
        <img src="../static/images/index/reason_yonghu.png">
        <div class="title">多用户</div>
        <div class="desc">多用户、分权限，告别糊涂账</div>
      </li>
      <li>
        <img src="../static/images/index/reason_baozhang.png" style="width: 44.5px">
        <div class="title">安全保障</div>
        <div class="desc">安全至极，多重安全设置</div>
      </li>
      <li>
        <img src="../static/images/index/reason_tiyan.png">
        <div class="title">优质体验</div>
        <div class="desc">模块化设计，极致记账体验</div>
      </li>
      <li>
        <img src="../static/images/index/reason_baoxiao.png" style="width: 46.5px">
        <div class="title">轻松报销</div>
        <div class="desc">微信小程序员工报销，方便快捷</div>
      </li>
      <li>
        <img src="../static/images/index/reason_fenxi.png" style="width: 47.5px">
        <div class="title">报表分析</div>
        <div class="desc">强大的报表统计，导入导出更方便</div>
      </li>
      <li>
        <img src="../static/images/index/reason_fuwu.png" style="width: 43.5px">
        <div class="title">专业服务</div>
        <div class="desc">专业可靠的服务团队</div>
      </li>
    </ul>
  </div>
  <!--endregion-->

  <!--region 品质安全-->
  <div class="quality-safety">
    <div class="title-index">
      <h1>品质保障 安全无忧</h1>
      <div class="title-desc">
        <p>为微小企业量身打造的一款专业云财务SAAS应用，智能，高效提升企业财务管理水平</p>
      </div>
    </div>
    <ul>
      <li><div class="num">5k</div><div class="desc"><p>每天超过5K人次</p><p>同时在线做账</p></div></li>
      <li><div class="num">10w</div><div class="desc"><p>累计超过10万家中小</p><p>企业做账</p></div></li>
      <li><div class="num">7w</div><div class="desc"><p>每天超过5万查看</p><p>报表数据浏览量</p></div></li>
      <li><div class="num">16w</div><div class="desc"><p>每天有16万笔分录</p><p>在这里产生</p></div></li>
    </ul>
  </div>
  <!--endregion-->

  <!--region 合作伙伴-->
  <div class="partner">
    <div class="title-index">
      <h1>合作伙伴</h1>
      <div class="title-desc">
        <p>10万家企业共同选择</p>
      </div>
    </div>
    <ul>
      <li><img src="../static/images/index/partner_tx.png" width="200"></li>
      <li><img src="../static/images/index/partner_baba.png" width="160"></li>
      <li><img src="../static/images/index/partner_dx.png" width="151"></li>
      <li><img src="../static/images/index/partner_yid.png" width="148"></li>
      <li><img src="../static/images/index/partner_liant.png" width="97"></li>
      <li><img src="../static/images/index/partner_zhaoshang.png" width="189"></li>
    </ul>
  </div>
  <!--endregion-->

  <!--region 6大行业-->
  <div class="industry-list">
    <div class="title-index">
      <h1>六大行业全部适用</h1>
      <div class="title-desc">
        <p>适应更加广泛的行业，让记账不再成为您的困扰</p>
      </div>
    </div>
    <ul>
      <li><img src="../static/images/index/industry_chuangye.png"><p>创业公司</p></li>
      <li><img src="../static/images/index/industry_fengs.png"><p>分公司</p></li>
      <li><img src="../static/images/index/industry_bm.png"><p>公司部门</p></li>
      <li><img src="../static/images/index/industry_liansuo.png"><p>连锁店</p></li>
      <li><img src="../static/images/index/industry_wangdian.png"><p>网店</p></li>
      <li><img src="../static/images/index/industry_jiagc.png"><p>加工厂</p></li>
    </ul>
  </div>
  <!--endregion-->
</div>

<!--region 右侧公共客服弹框-->
<ul class="right-service">
  <li>
    <div class="float-div"><i class="rsicon-weixin"></i><p>微信</p></div>
  </li>
  <li>
    <div class="float-div"><i class="rsicon-app"></i><p>下载</p></div>
  </li>
  <li>
    <div class="float-div"><i class="rsicon-qq"></i><p>客服</p></div>
  </li>
  <li>
    <div class="float-div"><i class="rsicon-jishu"></i><p>技术</p></div>
  </li>
</ul>
<!--endregion-->
</body>
<script type="text/javascript" src="../static/lib/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../static/lib/swiper-5.2.1/swiper.min.js"></script>
<script>
  var mySwiper = new Swiper('.swiper-index', {
    autoplay: true,
    loop: true,
    pagination: {
      el: '.swiper-pagination',
    },
  })
  $(function () {
    $(window).scroll(function() {
      changeHeaderSkin()
    })
  })
  function changeHeaderSkin () {
    var offsetWidth = document.body.offsetWidth;
    var changeH = offsetWidth * 0.5208333
    var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)
    if(srollPos >= changeH ) {
      $('.header').addClass('skin-2')
    } else {
      $('.header').removeClass('skin-2')
    }
  }

</script>
</html>
