<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>扫码下载-财务专家-优质记账软件平台</title>
  <link rel="stylesheet" href="../static/css/common.css">
</head>
<body class="body-mobile-download">
<div class="app-info">
  <img class="logo" src="../static/images/mobile_download/logowei.png">
  <div class="title">财务专家</div>
  <div class="desc"><span>4.8分</span><span>38万下载量</span><span>37.5M</span></div>
</div>
<div class="app-btn">
  <a><img src="../static/images/mobile_download/iphone.png"><span>iPhone版下载</span></a>
  <a><img src="../static/images/mobile_download/android.png"><span>Android版下载</span></a>
</div>
<div class="app-desc-img">
  <img src="../static/images/mobile_download/jixing.png">
</div>
</body>
</html>
