<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>服务条款</title>
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/module_licence.css">
</head>
<body class="body-module-licence">
<!--region 顶部header-->
<div class="header skin-white">
  <div class="head-left"></div>
  <div class="head-right">
    <ul class="head-nav">
      <li><a href="index.html">首页</a></li>
      <li><a href="function.html">功能</a></li>
      <li><a href="package_price.html">套餐价格</a></li>
      <li><a href="contact_us.html">联系我们</a></li>
      <li class="active"><a href="support_help.html">支持帮助</a></li>
    </ul>
    <div class="head-login">
      <a class="wbtn-green">注册试用</a>
      <a class="wbtn-green">登录</a>
    </div>
  </div>
</div>
<!--endregion-->

<div class="swiper-module-licence">
  <div class="swi-container">
    <div class="title"></div>
    <div class="desc">
      <p>用心服务，是我们的宗旨和目标</p>
    </div>
  </div>
</div>

<div class="licence-main">
  <div class="title">财务管家服务条款</div>
  <div class="content">
    <ul>
      <li>
        <div class="content-title">1、账王服务条款的接受</div>
        <div class="content-desc">账王所提供的服务完全按照其发布的服务条款和操作规则。本服务条款所称的用户是指完全同意所有条款并完成注册程序而使用账王服务(以下简称”本服务”)的用户。</div>
      </li>
      <li>
        <div class="content-title">2、服务条款的变更和修改</div>
        <div class="content-desc">账王有权随时对服务条款进行修改，并且一旦发生服务条款的变动，账王将在页面上提示修改的内容；当用户使用账王的特殊服务时，应接受账王随时提供的与该特殊服务相关的规则或说明，并且此规则或说明均构成本服务条款的一部分。用户如果不同意服务条款的修改，可以主动取消已经获得的网络服务；如果用户继续享用网络服务，则视为用户已经接受服务条款的修改。</div>
      </li>
      <li>
        <div class="content-title">3、服务说明</div>
        <div class="content-desc">
          <p>(1)账王提供的是在线财务管理服务(以下简称本服务)。除非另有明确规定，增强或强化目前服务的任何新功能，包括新产品，均无条件地适用本服务条款。</p>
          <p>(2)账王对网络服务不承担任何责任，即用户对网络服务的使用承担风险。账王不保证服务一定会满足用户的使用要求，也不保证服务不会受中断，对服务的及时性、安全性、准确性也不作担保。</p>
          <p>(3)为使用本服务，用户必须：</p>
          <p>A.自行配备进入国际互联网所必需的设备，包括计算机、数据机或其他存取装置；</p>
          <p>B.自行支付与此服务有关的费用；</p>
          <p>(4)用户接受本服务须同意：</p>
          <p>A.提供完整、真实、准确、最新的个人资料；</p>
          <p>B.经常更新注册资料，以符合上述(4).a的要求。</p>
          <p>若用户提供任何错误、不实的资料，并为账王所确知；或者账王有合理理由怀疑前述资料为错误、不实，账王有权暂停或终止用户的帐号。</p>
          <p>(3)为使用本服务，用户必须：</p>
          <p>A.自行配备进入国际互联网所必需的设备，包括计算机、数据机或其他存取装置；</p>
          <p>B.自行支付与此服务有关的费用；</p>
          <p>(4)用户接受本服务须同意：</p>
        </div>
      </li>
    </ul>
</div>
</div>

<div class="foot-common">
  <div class="f-container">
    <div class="f-link4">
      <a href="module_licence.html">服务条款</a>
      <a href="company_profile.html">公司介绍</a>
      <a href="contact_us.html">联系我们</a>
      <a href="support_help.html">帮助手册</a>
    </div>
    <div class="f-link3">
      <a>4006-360-658</a>
      <a>Email: kf@cash360.cn</a>
      <a>周一到周五9:00-22:00</a>
    </div>
  </div>
  <div class="friends-copyright">
    <div class="f-friends">
      <span>友情链接:</span>
      <a>快租365</a>
      <a>第二办公室</a>
      <a>zol软件下载</a>
      <a>绿盟</a>
      <a>非凡软件站</a>
      <a>仁和会计培训</a>
      <a>中国会计网</a>
      <a>中华会计网校</a>
    </div>
    <div class="f-copyright">沪ICP备14010763号-1 | 公安备案号33010602010201 | Copyright © 2019 财务管家</div>
  </div>
</div>


<!--region 右侧公共客服弹框-->
<ul class="right-service">
  <li>
    <div class="float-div">
      <i class="rsicon-weixin"></i><p>微信</p>
      <div class="float-layer qrcode">
        <img src="../static/images/common/qrcode_img.png">
        <p>关注财务管家公众号</p>
      </div>
    </div>
  </li>
  <li>
    <div class="float-div">
      <i class="rsicon-app"></i><p>下载</p>
      <div class="float-layer qrcode">
        <img src="../static/images/common/qrcode_img.png">
        <p>下载财务管家APP</p>
      </div>
    </div>
  </li>
  <li>
    <div class="float-div">
      <i class="rsicon-qq"></i><p>客服</p>
      <div class="float-layer service">
        <div class="t">客服</div>
        <div class="list">
          <a>
            <img src="../static/images/common/qq_default.png">
            <span>客服MM客服MM</span>
          </a>
          <a>
            <img src="../static/images/common/qq_default.png">
            <span>客服MM</span>
          </a>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="float-div">
      <i class="rsicon-jishu"></i><p>技术</p>
      <div class="float-layer service">
        <div class="t">技术</div>
        <div class="list">
          <a>
            <img src="../static/images/common/qq_default.png">
            <span>技术MM</span>
          </a>
        </div>
      </div>
    </div>
  </li>
</ul>
<!--endregion-->

</body>
<script type="text/javascript" src="../static/lib/jquery/jquery-3.2.1.min.js"></script>
<script>
  $(function () {
    $(window).scroll(function() {
      changeHeaderSkin()
    })
  })
  changeHeaderSkin()
  function changeHeaderSkin () {
    var offsetWidth = document.body.offsetWidth;
    var changeH = offsetWidth * 0.15625
    var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)
    if(srollPos >= changeH) {
      $('.header').addClass('skin-2')
    } else {
      $('.header').removeClass('skin-2')
    }
  }

</script>
</html>
