<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>支持帮助</title>
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/support_help.css">
</head>
<body class="body-support-help">
<!--region 顶部header-->
<div class="header skin-white">
  <div class="head-left"></div>
  <div class="head-right">
    <ul class="head-nav">
      <li><a href="index.html">首页</a></li>
      <li><a href="function.html">功能</a></li>
      <li><a href="package_price.html">套餐价格</a></li>
      <li><a href="contact_us.html">联系我们</a></li>
      <li class="active"><a href="support_help.html">支持帮助</a></li>
    </ul>
    <div class="head-login">
      <a class="wbtn-green">注册试用</a>
      <a class="wbtn-green">登录</a>
    </div>
  </div>
</div>
<!--endregion-->

<div class="swiper-support-help">
  <div class="swi-container">
    <div class="title"></div>
    <div class="desc">
      <p>用户至上，是我们不断前进的动力</p>
    </div>
  </div>
</div>

<div class="help-main">
  <div class="help-container">
    <div class="left">
      <ul>
        <li>
          <div class="title">常见问题</div>
          <div class="problem-list" id="left-problem-list">
            <div class="list-one">
              <span class="list-one-name" onclick="showProblemTab(this)">账号问题</span>
              <div class="list-two">
                <a class="active">如何新增一个账户</a>
                <a>如何新增收支类别</a>
                <a>如何记录支出收入</a>
              </div>
            </div>
            <div class="list-one">
              <span class="list-one-name" onclick="showProblemTab(this)">记账问题</span>
              <div class="list-two">
                <a>如何新增一个账户</a>
                <a>如何新增收支类别</a>
                <a>如何记录支出收入</a>
              </div>
            </div>
            <div class="list-one">
              <span class="list-one-name" onclick="showProblemTab(this)">库存问题</span>
              <div class="list-two">
                <a>如何记借货销售</a>
                <a>销售采购退货怎么记</a>
                <a>怎么建立多个仓库</a>
                <a>销售成本怎么核算入账——成本结转</a>
              </div>
            </div>
            <div class="list-one">
              <span class="list-one-name" onclick="showProblemTab(this)">关联操作</span>
              <div class="list-two">
                <a>应收和应付怎么对冲</a>
                <a>应收和预收怎么核销</a>
                <a>应付和预付怎么核销</a>
                <a>收回自己交的押金保证金怎么操作</a>
              </div>
            </div>
            <div class="list-one">
              <span class="list-one-name" onclick="showProblemTab(this)">数据查看</span>
              <div class="list-two">
                <a>怎么查看一个客户（供应商）的所有收支明细</a>
                <a>怎么查看一个项目的所有收支明细</a>
                <a>怎么查看货品的出入库情况</a>
                <a>怎么查看货品的出入库情况</a>
              </div>
            </div>
            <div class="list-one">
              <span class="list-one-name" onclick="showProblemTab(this)">案例分析</span>
              <div class="list-two">
                <a>和客户签订合同之后整个流程如何记账</a>
                <a>预收货款到货款结清这个流程怎么记账</a>
              </div>
            </div>
          </div>
        </li>
        <li><a class="download-help"><i class="wicon-download"></i><span>下载帮助手册</span></a></li>
        <li>
          <div class="title">联系我们</div>
          <div class="contract-us-list">
            <a class="phone">400-888-8888</a>
            <a class="email">kanshi@cash000.cn</a>
            <a class="qq">QQ在线咨询</a>
            <a class="time">周一到周五9:00-20:00</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="right common-problem">
      <div class="title">常见问题</div>
      <ul class="common-problem-list">
        <li>
          <div class="p-question">财务管家数据安全吗？会不会丢失或泄漏</div>
          <div class="p-answer">财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏</div>
        </li>
        <li>
          <div class="p-question">财务管家数据安全吗？会不会丢失或泄漏</div>
          <div class="p-answer">财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏</div>
        </li>
        <li>
          <div class="p-question">财务管家数据安全吗？会不会丢失或泄漏</div>
          <div class="p-answer">财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏</div>
        </li>
        <li>
          <div class="p-question">财务管家数据安全吗？会不会丢失或泄漏</div>
          <div class="p-answer">财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏</div>
        </li>
        <li>
          <div class="p-question">财务管家数据安全吗？会不会丢失或泄漏</div>
          <div class="p-answer">财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏财务管家数据安全吗？会不会丢失或泄漏</div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="foot-common">
  <div class="f-container">
    <div class="f-link4">
      <a href="module_licence.html">服务条款</a>
      <a href="company_profile.html">公司介绍</a>
      <a href="contact_us.html">联系我们</a>
      <a href="support_help.html">帮助手册</a>
    </div>
    <div class="f-link3">
      <a>4006-360-658</a>
      <a>Email: kf@cash360.cn</a>
      <a>周一到周五9:00-22:00</a>
    </div>
  </div>
  <div class="friends-copyright">
    <div class="f-friends">
      <span>友情链接:</span>
      <a>快租365</a>
      <a>第二办公室</a>
      <a>zol软件下载</a>
      <a>绿盟</a>
      <a>非凡软件站</a>
      <a>仁和会计培训</a>
      <a>中国会计网</a>
      <a>中华会计网校</a>
    </div>
    <div class="f-copyright">沪ICP备14010763号-1 | 公安备案号33010602010201 | Copyright © 2019 财务管家</div>
  </div>
</div>

<!--region 右侧公共客服弹框-->
<ul class="right-service">
  <li>
    <div class="float-div"><i class="rsicon-weixin"></i><p>微信</p></div>
  </li>
  <li>
    <div class="float-div"><i class="rsicon-app"></i><p>下载</p></div>
  </li>
  <li>
    <div class="float-div"><i class="rsicon-qq"></i><p>客服</p></div>
  </li>
  <li>
    <div class="float-div"><i class="rsicon-jishu"></i><p>技术</p></div>
  </li>
</ul>
<!--endregion-->
</body>
<script type="text/javascript" src="../static/lib/jquery/jquery-3.2.1.min.js"></script>
<script>
  $(function () {
    $(window).scroll(function() {
      changeHeaderSkin()
    })
  })
  changeHeaderSkin()
  function changeHeaderSkin () {
    var offsetWidth = document.body.offsetWidth;
    var changeH = offsetWidth * 0.15625
    var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)
    if(srollPos >= changeH) {
      $('.header').addClass('skin-2')
    } else {
      $('.header').removeClass('skin-2')
    }
  }
  function showProblemTab(obj) {
    var display = $(obj).parent('.list-one').find('.list-two').css('display')
    if (display === 'none') {
      $('#left-problem-list').find('.list-two').hide()
      $(obj).parent('.list-one').find('.list-two').show()
    } else {
      $(obj).parent('.list-one').find('.list-two').hide()
    }
  }

</script>
</html>