<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>失败页面</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/public.css" />
</head>
<body>
<div class="fail-page">
  <div class="fail-img">
    <img src="../../static/images/fail.png">
  </div>
  <div class="fail-title">页面请求失败</div>
  <div class="fail-tip">错误编号363，如有疑问请联系系统管理员</div>
  <div><a class="febtn-default" onclick="javascript:window.location.reload();">刷新</a></div>
</div>
</body>
</html>
