<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>智慧工地</title>
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <meta name="baidu-site-verification" content="unXl91MyB6"/>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/common/plug-ins/element-ui/2.13.2/theme-chalk/index.css"/>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/adminSmart/css/public.css"/>
  <script>
    // VUE组件存储对象
    var COMPONENT = {}
  </script>
</head>
<body></body>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/common/plug-ins/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/common/plug-ins/layer/layer.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/common/plug-ins/vue-2.x/vue-2.6.11.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/common/plug-ins/element-ui/2.13.2/index.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/common/js/publicObj.js"></script>
</html>
