
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>查看工资明细</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" type="text/css" href="../../static/iconfont/feicon/style.css"/>
  <link rel="stylesheet" type="text/css" href="../../static/css/public.css"/>
</head>

<body>
<div class="modify-body">
  <form class="search-content" style="border-bottom: 0;">
    <div class="search-container">
      <ul class="search-left">
        <li>
          <span>年份</span>
          <div class="l-content rule-single-select">
            <select>
              <option value="">全部</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
            </select>
          </div>
        </li>
        <li>
          <div class="l-content input-search">
            <input type="text" placeholder="快捷搜索" style="width: 150px"/>
            <button type="submit" class="febtn-default">搜索</button>
          </div>
        </li>
      </ul>
    </div>
  </form>
  <div class="modify-scroll" style="padding: 10px 20px;">
    <div>
      <table class="fe-table border">
            <thead>
            <tr>
              <th rowspan="2">序号</th>
              <th rowspan="2">姓名</th>
              <th colspan="5">工资、奖金</th>
              <th colspan="5">代扣代缴</th>
              <th rowspan="2">实发工资</th>
              <th rowspan="2" width="12%">备注</th>
            </tr>
            <tr>
              <th>基本工资</th>
              <th>奖金</th>
              <th>提成</th>
              <th>补贴</th>
              <th>其他</th>
              <th>社保</th>
              <th>公积金</th>
              <th>个税</th>
              <th>罚款</th>
              <th>其他</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>张小花</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td class="remark"></td>
            </tr>
            <tr>
              <td>2</td>
              <td>张小花</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td class="remark"></td>
            </tr>
            
            
            <tr>
              <th>合计</th>
              <th>0.00</th>
              <th>0.00</th>
              <th>0.00</th>
              <th>0.00</th>
              <th>0.00</th>
              <th>0.00</th>
              <th>0.00</th>
              <th>0.00</th>
              <th>0.00</th>
              <th>0.00</th>
              <th>0.00</th>
              <th></th>
              <th></th>
            </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" charset="utf-8" src="../../static/lib/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/lib/layer/layer.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/js/publicObj.js"></script>
</html>
