/*region 轮播*/
.swiper-index {
  position: relative;
  overflow: hidden;
}
.swiper-index .slide-container {
  position: relative;
  width: 100%;
  height: 0;
  /*padding-bottom: 52.08333%;*/
  padding-bottom: 50%;
  display: inline-block;
  vertical-align: middle;
}
.swiper-index .slide-container .slide-info {
  position: absolute;
  z-index: 2;
  left: 10%;
  top: calc(50% - 150px);
  text-align: center;
  display: inline-block;
}
.swiper-index .slide-container .slide-info .info-text {
  color: #ffffff;
  line-height:98px;
  font-size: 55px;
  margin-bottom: 50px;
}
.swiper-index .slide-container .slide-info .slide-btn a {
  font-size: 22px;
  height: 60px;
  line-height: 59px;
  width: 200px;
  border-radius: 35px;
}
.swiper-index .slide-container .slide-info .slide-btn .wbtn-green {
  margin-right: 25px;
}
.swiper-index .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  margin: 0 10px;
  background-color: rgba(255,255,255,.4);
}
.swiper-index .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}

.swiper-index .slide-1 .slide-container {
  background: url('../images/index/swiper_1.jpg')left top no-repeat;
  background-size: 100% 100%;
}
.swiper-index .slide-2 .slide-container {
  background: url('../images/index/swiper_2.jpg')left top no-repeat;
  background-size: 100% 100%;
}
.swiper-index .slide-2 .slide-container .slide-info {
  top: calc(50% - 180px);
}
.swiper-index .slide-2 .slide-container .slide-info,
.swiper-index .slide-3 .slide-container .slide-info {
  width: 100%;
  left: 0;
}
.swiper-index .slide-2 .slide-container .slide-info .info-tip {
  font-size: 28px;
  margin-bottom: 50px;
  color: #ffffff;
}
.swiper-index .slide-3 .slide-container {
  background: url('../images/index/swiper_3.jpg')left top no-repeat;
  background-size: 100% 100%;
}
.swiper-index .slide-3 .slide-container .slide-info {
  top: calc(50% - 100px);
}
/*endregion*/

.title-index {
  text-align: center;
}
.title-index h1 {
  color: #000000;
  font-size: 34px;
  font-weight: bold;
  width: 100%;
  height: 84px;
  line-height: 110px;
  margin-bottom: 10px;
}
.title-index .title-desc {
  color: #666666;
  line-height:20px;
}

/*region 选择的八大理由*/
.choose-reason {
  padding-top: 120px;
}
.choose-reason .title-index h1 {
  background: url("../images/index/title_choose_reason.png")center center no-repeat;
  background-size: 732px 84px;
}
.choose-reason ul {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 60px 10% 0 10%;
}
.choose-reason ul li {
  width: 25%;
  display: inline-block;
  float: left;
  padding: 40px 0;
  height: 207px;
}
.choose-reason ul li img {
  width: 50px;
  height: auto;
}
.choose-reason ul li .title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 25px;
}
.choose-reason ul li .desc {
  color: #666666;
}
/*endregion*/

/*region 品质安全*/
.quality-safety {
  padding-top: 110px;
}
.quality-safety .title-index h1 {
  background: url("../images/index/title_quality_safety.png")center center no-repeat;
  background-size: 834px 84px;
}
.quality-safety ul {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 90px 12% 0 12%;
}
.quality-safety ul li {
  box-shadow:0px 0px 20px rgba(36,78,255,0.11);
  background-color: #ffffff;
  text-align: center;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:200px;
  height:227px;
}
.quality-safety ul li .num {
  font-size: 59px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 30px;
}
.quality-safety ul li .desc {
  line-height:20px;
  color: #666666;
}
/*endregion*/

/*region 合作伙伴*/
.partner {
  padding-top: 120px;
}
.partner .title-index h1 {
  background: url("../images/index/title_partner.png")center center no-repeat;
  background-size: 242px 84px;
}
.partner ul {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 80px 0 100px 0;
}
.partner ul li {
  position: relative;
  margin: 0 26px;
  display: inline-block;
  vertical-align: middle;
}
.partner ul li:first-child {
  margin-left: 0;
}
.partner ul li:last-child {
  margin-right: 0;
}
.partner ul li img {
  height: auto;
}
/*endregion*/

/*region 6大行业*/
.industry-list {
  background-color: #FAFAFA;
  padding-top: 60px;
}
.industry-list .title-index h1 {
  background: url("../images/index/title_industry.png")center center no-repeat;
  background-size: 894px 84px;
}
.industry-list ul {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 80px 0 100px 0;
}
.industry-list ul li {
  width: 180px;
  height: 140px;
  position: relative;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}
.industry-list ul li:first-child {
  margin-left: 0;
}
.industry-list ul li:last-child {
  margin-right: 0;
}
.industry-list ul li img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.industry-list ul li p {
  height: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}
/*endregion*/



@media screen and (max-width: 1240px) {
  .partner ul {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
  }
  .partner ul li {
    margin: 0 2%;
  }
  .industry-list ul {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
  }
  .industry-list ul li {
    margin: 0 1%;
  }
}

/*region 手机模式*/
.mobile-swiper {
  width: 100%;
  height: 0;
  display: inline-block;
  position: relative;
  padding-bottom: 133.3333%;
  background: url('../images/index/swiper_3.jpg')center center no-repeat;
  background-size: auto 100%;
}
.mobile-swiper .swiper-info {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}
.mobile-swiper .swiper-info .swiper-title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.35rem;
  line-height:1.88rem;
  margin-bottom: 3.5rem;
}
.mobile-swiper .swiper-info .swiper-btn {
  width:12.5rem;
  height:2.25rem;
  background:rgba(26,143,252,1);
  border-radius:1rem;
  color: #ffffff;
  font-size: .85rem;
  line-height: 2.25rem;
  text-align: center;
}
.index-mobile .swiper-index,
.index-mobile .right-service {
  display: none;
}
.index-mobile .title-index h1 {
  font-size: 1rem;
  height: 1.4rem;
  line-height: 1.5rem;
  margin-bottom: 1.18rem;
}
.index-mobile .title-index .title-desc {
  font-size: .6rem;
  line-height: .83rem;
}
/*region 选择的理由*/
.index-mobile .choose-reason {
  padding-top: 2.53rem;
}
.index-mobile .choose-reason .title-index h1 {
  background-size: 12.2rem 1.4rem;
}
.index-mobile .choose-reason ul {
  padding: 1.75rem 0;
}
.index-mobile .choose-reason ul li {
  width: 50%;
  padding: .75rem 0;
  height: 6.78rem;
}
.index-mobile .choose-reason ul li img {
  width: 1.75rem;
}
.index-mobile .choose-reason ul li:nth-child(4) img {
  width: 1.44rem!important;
}
.index-mobile .choose-reason ul li:nth-child(6) img {
  width: 1.62rem!important;
}
.index-mobile .choose-reason ul li:nth-child(7) img {
  width: 1.59rem!important;
}
.index-mobile .choose-reason ul li:nth-child(8) img {
  width: 1.28rem!important;
}
.index-mobile .choose-reason ul li .title {
  font-size: .75rem;
  margin: .5rem;
}
.index-mobile .choose-reason ul li .desc,
.choose-reason ul li .desc-mobile {
  display: none;
}
.choose-reason ul li .desc.desc-mobile {
  display: block;
}
.index-mobile .choose-reason ul li .desc-mobile,
.index-mobile .choose-reason ul li .desc.desc-mobile {
  display: block;
  font-size: .6rem;
}
/*endregion*/

/*region 品质 安全*/
.index-mobile .quality-safety {
  padding-top: 2.53rem;
}
.index-mobile .quality-safety .title-index h1 {
  background-size: 13.9rem 1.4rem;
}
.index-mobile .quality-safety .title-index .title-desc {
  width: 75%;
  display: inline-block;
}
.index-mobile .quality-safety ul {
  padding: 0 2.25rem;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding-bottom: 2.5rem;
}
.index-mobile .quality-safety ul li {
  width: calc(50% - .875rem);
  float: left;
  height: 6.5rem;
  margin-top: 1.75rem;
}
.index-mobile .quality-safety ul li:nth-child(odd) {
  margin-right: .875rem;
}
.index-mobile .quality-safety ul li:nth-child(even) {
  margin-left: .875rem;
}
.index-mobile .quality-safety ul li .num {
  font-size: 1.48rem;
  margin-bottom: .5rem;
}
.index-mobile .quality-safety ul li .desc {
  font-size: .6rem;
}
/*endregion*/

/*region 合作伙伴*/
.index-mobile .partner {
  padding-top: 2.5rem;
  display: none;
}
.index-mobile .partner .title-index h1 {
  background-size: 14.9rem 1.4rem;
}
/*endregion*/

/*region 6大行业*/
.index-mobile .industry-list {
  padding-top: 2.5rem;
}
.index-mobile .industry-list .title-index h1 {
  background-size: 14.9rem 1.4rem;
}
.index-mobile .industry-list ul {
  display: inline-block;
  width: 100%;
  padding: 1.75rem 1.4rem;
  vertical-align: middle;
}
.index-mobile .industry-list ul li {
  width: calc(33.333% - .6rem);
  float: left;
  margin: 0 .3rem .6rem .3rem;
  height: initial;
}
.index-mobile .industry-list ul li p {
  font-size: .6rem;
  height: 1rem;
  line-height: 1rem;
}
/*endregion*/

/*endregion*/
