<!--注册协议iframe-->
<link rel="stylesheet" type="text/css" href="../../static/css/public.css" />
<style>
  .register-protocol {
    padding: 40px 10px 0 10px;
    height: 100%;
  }
  .protocol-close {
    position: absolute;
    z-index: 1;
    top: 14px;
    right: 22px;
  }
  .register-protocol .protocol-title {
    color: #404040;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }
  .protocol-content {
    overflow-y: auto;
    padding: 30px 70px;
    height: calc(100% - 53px);
    line-height:36px;
  }
  .protocol-content .content-div {
    font-size: 14px;
    color: #404040;
    margin-bottom: 40px;
    text-align: justify;
  }
  .protocol-content .content-div .c-title {
    color: #404040;
    font-weight: bold;
    font-size: 16px;
  }
</style>
<div class="register-protocol">
  <a class="protocol-close" onclick="publicObj.layerFrameClose()"><i class="feimg-close-black"></i></a>
  <div class="protocol-title">财务专家平台注册协议</div>
  <div class="protocol-content">
    <div class="content-div">如您为财务专家系统用户，并使用财务专家提供的“财务专家”服务，您应当阅读并遵守《财务专家使用协议》（以下简称“本协议”）和《福财务专家金币赚取及兑换协议》，财务专家实时发布的服务规则。请您必须审慎阅读、充分理解各条款内容、特别是免除或者限制责任的条款，以及开通或者使用某项服务的单独协议。除非您已阅读并接受本协议所有的条款，否则您无权使用本协议约定提供的产品服务。您申请开通或使用本服务即视为您已阅读并同意上述的约束。</div>
    <div class="content-div">
      <div class="c-title">一、本协议的订立</div>
      <div>
        <div>1、本协议由财务专家（下称“服务方”）；财务专家（以下称“用户”），服务方和用户共同缔结、具有合同效力。“服务方”和“用户”合称为“协议方”，单独称为“一方”和“相对方”。</div>
        <div>
          2、本协议指本协议正文、您已经签订的《财务专家使用协议》、《财务专家金币赚取及兑换协议》服务方的服务规则、其修订版本以及其他服务方所列明的所有规则性文件、通知或其他内容。上述内容一经正式发布，即为本协议不可分割的组成部分，您同样应当遵守。您对前述任何协议、规则的接受，即视为您对本协议全部的接受。</div>
        <div>3、本协议仅在表明服务方与用户之间的权利义务关系，对于用户通过服务方与任何第三方建立的合作关系以及由此产生的权利义务关系等，由用户与第三方自行解决。</div>
        <div>
          <div>4、本协议各条的标题仅为方便阅读而设，无意成为本协议的一部分，也不影响本协议的含义或解释。</div>
          <div>
            <p>（1）协议方签署新协议替代本协议的。</p>
            <p>（2）本协议其他相应条款中，约定服务方有权终止本协议的情形发生的。</p>
            <p>（3）您应采取合理措施维护其密码和帐号的安全。用户对利用该密码和帐号所进行的一切活动负全部责任；由该等活动所导致的任何损失或损害由用户承担，财务专家不承担任何责任。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8" src="../../static/lib/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/js/publicObj.js"></script>