<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>公告栏列表</title>
  <meta name="viewport"
        content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <link rel="stylesheet" type="text/css" href="../../static/iconfont/feicon/style.css"/>
  <link rel="stylesheet" type="text/css" href="../../static/css/public.css"/>
</head>
<body class="iframe-body">
<div class="iframe-main page-notice-list" style="left: 0;">
  <form class="search-notice flex-between border-b">
    <div class="white-title"><i class="feimg-t-msg"></i><b>公告栏</b></div>
    <div>
      <div class="fe-radio-tab-group">
        <label class="radio-tab">
          <input type="radio" name="daytype" id="daytype_1" value="1" checked="">
          <label for="daytype_1">全部</label>
        </label>
        <label class="radio-tab">
          <input type="radio" name="daytype" id="daytype_2" value="2">
          <label for="daytype_2">未读</label>
        </label>
        <label class="radio-tab">
          <input type="radio" name="daytype" id="daytype_3" value="3">
          <label for="daytype_3">已读</label>
        </label>
      </div>
    </div>
  </form>
  <div class="notice-list">
    <div class="list-container">
      <a href="notice_view.html">
        <div class="notice-content"><span class="index">1.</span><span class="title">[媒体报告]财务专家官方</span><span class="type-read1">已读</span></div>
        <div class="notice-time">2019-09-09 12:12</div>
      </a>
      <a href="notice_view.html">
        <div class="notice-content"><span class="index">2.</span><span class="title">[媒体报告]财务专家官方</span><span class="type-read1">已读</span></div>
        <div class="notice-time">2019-09-09 12:12</div>
      </a>
      <a href="notice_view.html">
        <div class="notice-content"><span class="index">3.</span><span class="title">[媒体报告]财务专家官方</span><span class="type-read0">未读</span></div>
        <div class="notice-time">2019-09-09 12:12</div>
      </a>
      <a href="notice_view.html">
        <div class="notice-content"><span class="index">4.</span><span class="title">[媒体报告]财务专家官方</span></div>
        <div class="notice-time">2019-09-09 12:12</div>
      </a>
      <a href="notice_view.html">
        <div class="notice-content"><span class="index">5.</span><span class="title">[媒体报告]财务专家官方</span></div>
        <div class="notice-time">2019-09-09 12:12</div>
      </a>
      <a href="notice_view.html">
        <div class="notice-content"><span class="index">6.</span><span class="title">[媒体报告]财务专家官方</span></div>
        <div class="notice-time">2019-09-09 12:12</div>
      </a>
      <a href="notice_view.html">
        <div class="notice-content"><span class="index">7.</span><span class="title">[升级公告]财务专家官方</span></div>
        <div class="notice-time">2019-09-09 12:12</div>
      </a>
      <a href="notice_view.html">
        <div class="notice-content"><span class="index">8.</span><span class="title">[升级公告]财务专家官方</span></div>
        <div class="notice-time">2019-09-09 12:12</div>
      </a>
      <a href="notice_view.html">
        <div class="notice-content"><span class="index">9.</span><span class="title">[升级公告]财务专家官方</span></div>
        <div class="notice-time">2019-09-09 12:12</div>
      </a>
      <a href="notice_view.html">
        <div class="notice-content"><span class="index">10.</span><span class="title">财务专家官方</span></div>
        <div class="notice-time">2019-09-09 12:12</div>
      </a>
      <a href="notice_view.html">
        <div class="notice-content"><span class="index">11.</span><span class="title">财务专家官方</span></div>
        <div class="notice-time">2019-09-09 12:12</div>
      </a>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" charset="utf-8" src="../../static/lib/jquery/jquery-3.2.1.min.js"></script>
<script>parent.$('#iframe-menu').hide()</script>
</html>