<!--经手人分类列表/收入项分类/支出项分类/客户分类/客户身份标签-->
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>各个分类列表管理</title>
  <meta name="viewport"
        content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <link rel="stylesheet" type="text/css" href="../../static/css/public.css"/>
</head>

<body class="iframe-body">
<div class="iframe-main">
  <!--region 搜索-->
  <form class="search-content" method="post" action="./category_list.html">
    <div class="search-container">
      <ul class="search-left">
        <li>
          <a class="febtn-white" onclick="modifyItem('add')"><i class="feimg-add"></i><span>新增项目</span></a>
        </li>
        <li>
          <div class="l-content input-search">
            <input type="text" placeholder="快捷搜索" style="width: 150px"/>
            <button type="submit" class="febtn-default">搜索</button>
          </div>
        </li>
      </ul>
    </div>
  </form>
  <!--endregion-->

  <div>
    <table class="fe-table">
      <thead>
      <tr>
        <th class="t-left">
          <label class="fe-checkbox">
            <input type="checkbox" class="check-all">
          </label>
          <a class="display-align" onclick="changeSort(this)" sort-type="asc"><span>序号</span><i class="feimg-sort-asc"></i></a>
        </th>
        <th width="40%">名称</th>
        <th>创建日期</th>
        <th>排序</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <label class="fe-checkbox">
            <input type="checkbox" class="check-td" value="1">
            <font>1</font>
          </label>
        </td>
        <td>技术维护</td>
        <td>2019-11-30</td>
        <td><input type="text" style="width: 30px;"></td>
        <td class="table-action">
          <a onclick="modifyItem('edit')">编辑</a>
          <a onclick="delCategory(1)">删除</a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="table-foot">
      <div class="foot-action">
        <label class="fe-checkbox">
          <input type="checkbox" class="check-all">
        </label>
        <button type="button" class="febtn-white check-all-btn">全选</button>
        <button type="button" class="febtn-white" onclick="delCategory(2)">删除</button>
        <button type="button" class="febtn-white" onclick="saveSort()" style="width: 88px">保存排序</button>
      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" charset="utf-8" src="../../static/lib/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/lib/layer/layer.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/js/publicObj.js"></script>
<script type="text/javascript">
  //pageType,页面裂类型
  var pageString = {sponsor: '经手人', income: '收入项', expenditure: '支出项', receivable: '应收款', payable: '应付款', customer: '客户', customertag: '客户身份标签', memorandum: '事项'}
  var pageType = publicObj.getQueryVariable("type");
  if (pageType === 'memorandum') {
    publicObj.getIframeMenuHtml('memorandum', pageType + '_category_list')//获取左侧菜单
  } else if (pageType === 'asset') {
    publicObj.getIframeMenuHtml('asset', pageType + '_category_list')//获取左侧菜单
  } else {
    publicObj.getIframeMenuHtml('accountManage', pageType + '_category_list')//获取左侧菜单
  }

  //新增/编辑项目
  function modifyItem(type) {
    var title_ = type === 'add' ? '新增' : '编辑'
    var html = '<div style="padding: 20px 30px 40px 30px"><span><b class="color-red" style="margin-right: 5px">*</b><span style="color: #333">名称：</span></span><input type="text" name="itemname" placeholder="请输入项目名称" style="width: 300px;height: 36px;"></div>'
    parent.layer.confirm(html, {
      type: 1,
      title: title_ + '' + pageString[pageType] + '分类',
    }, function (index) {
      var name = parent.$('input[name="itemname"]').val()
      if (name === '') {
        publicObj.layerMsg('请输入项目名称')
        return false
      }
      publicObj.layerMsg('操作成功', 1)
      parent.layer.close(index)
    })
  }
  //删除 type=1:删除单个，2-批量删除
  function delCategory (type) {
    if (type === 2 && !publicObj.getCheckBox()) return false
    var title = +type === 2 ? '确认删除这些项目吗？' : '确认要删除该项目吗？'
    publicObj.confirmDel(function (layeo) {
      publicObj.layerMsg('删除成功', 1)
      parent.layer.close(layeo)
    }, {title: title})
  }
  //保存排序
  function saveSort () {
    if (!publicObj.getCheckBox()) return false
  }
  //排序
  function changeSort(obj) {
    var sortType = $(obj).attr('sort-type')
    if (sortType === 'asc') {
      $(obj).attr('sort-type', 'desc')
      $(obj).find('i').removeClass('feimg-sort-asc').addClass('feimg-sort-desc')
    } else {
      $(obj).attr('sort-type', 'asc')
      $(obj).find('i').removeClass('feimg-sort-desc').addClass('feimg-sort-asc')
    }
  }
</script>
</html>
