
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>收支报表</title>
  <meta name="viewport"
        content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <link rel="stylesheet" type="text/css" href="../../static/lib/jedate/jeDageGray.css" />
  <link rel="stylesheet" type="text/css" href="../../static/iconfont/feicon/style.css"/>
  <link rel="stylesheet" type="text/css" href="../../static/css/public.css"/>
</head>
<body class="iframe-body">
<div class="iframe-main">
  <!--region 搜索-->
  <form class="search-content">
    <div class="search-container">
      <ul class="search-left">
        <li>
          <span>日期</span>
          <div class="l-content">
            <input type="text" readonly class="input-data" id="startTime" placeholder="开始日期"/>
            -
            <input type="text" readonly class="input-data" id="endTime" placeholder="结束日期"/>

            <a class="color-link ml-10" onclick="setTime(1)">今天</a>
            <a class="color-link ml-10" onclick="setTime('prev_7')">最近一周</a>
            <a class="color-link ml-10" onclick="setTime('prev_30')">最近一月</a>
            <a class="color-link ml-10" onclick="setTime('prev_90')">最近三个月</a>
            <a class="color-link ml-10" onclick="setTime('this_year')">今年</a>
            <a class="color-link ml-10" onclick="setTime('')">全部</a>
          </div>
        </li>
        <li>
          <div class="l-content">
            <button type="submit" class="febtn-default" style="width: 63px">搜索</button>
          </div>
        </li>
      </ul>
      <div class="flex-right search-right">
        <button type="button" class="febtn-white"><i class="feimg-export"></i>导出报表</button>
      </div>
    </div>
  </form>
  <!--endregion-->
  
  <div class="border-b">
    <table class="fe-table table-total">
      <tr>
        <td><span>账单收入(元)：</span>86000</td>
        <td><span>账单支出(元)：</span><font class="color-default">86000</font></td>
        <td><span>账单结余(元)：</span><font class="color-orange">86000</font></td>
      </tr>
      <tr>
        <td><span class="space"><font>应收款</font>(元)：</span>86000</td>
        <td><span class="space"><font>应付款</font>(元)：</span><font class="color-default">86000</font></td>
        <td><span>收付结余(元)：</span><font class="color-orange">86000</font></td>
      </tr>
      <tr>
        <td><span class="space"><font>总收入</font>(元)：</span>86000</td>
        <td><span class="space"><font>总支出</font>(元)：</span><font class="color-default">86000</font></td>
        <td><span class="space"><font>总结余</font>(元)：</span><font class="color-orange">86000</font></td>
      </tr>
    </table>
  </div>
  
  <!--收入分类统计-->
  <div class="report-chart border-b">
    <div class="title">收入分类统计(共200)</div>
    <div class="report-content">
      <div class="chart-pie">
        <em>单位: ¥</em>
        <div class="pie-demo"><div id="chart-pie-1"></div></div>
      </div>
      <div class="chart-table">
        <table class="fe-table">
          <tr>
            <th>名称</th>
            <th>金额(元)</th>
            <th>占比</th>
          </tr>
          <tr>
            <td><i class="fepoint-1"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-2"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-3"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-4"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-5"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-6"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-7"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
        </table>
        <table class="fe-table">
          <tr>
            <th>名称</th>
            <th>金额(元)</th>
            <th>占比</th>
          </tr>
          <tr>
            <td><i class="fepoint-8"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-9"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-10"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-1"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-2"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-3"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  
  <!--支出分类统计-->
  <div class="report-chart border-b">
    <div class="title">支出分类统计(共200)</div>
    <div class="report-content">
      <div class="chart-pie">
        <em>单位: ¥</em>
        <div class="pie-demo"><div id="chart-pie-2"></div></div>
      </div>
      <div class="chart-table">
        <table class="fe-table">
          <tr>
            <th>名称</th>
            <th>金额(元)</th>
            <th>占比</th>
          </tr>
          <tr>
            <td><i class="fepoint-1"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-2"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-3"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-4"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-5"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
        </table>
        <table class="fe-table">
          <tr>
            <th>名称</th>
            <th>金额(元)</th>
            <th>占比</th>
          </tr>
          <tr>
            <td><i class="fepoint-6"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-7"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-8"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-9"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-10"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  
  <!--应收来往单位统计-->
  <div class="report-chart border-b">
    <div class="title">应收来往单位统计(共200)</div>
    <div class="report-content">
      <div class="chart-pie">
        <em>单位: ¥</em>
        <div class="pie-demo"><div id="chart-pie-3"></div></div>
      </div>
      <div class="chart-table">
        <table class="fe-table">
          <tr>
            <th>名称</th>
            <th>金额(元)</th>
            <th>占比</th>
          </tr>
          <tr>
            <td><i class="fepoint-1"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
        </table>
        <table class="fe-table">
          <tr>
            <th>名称</th>
            <th>金额(元)</th>
            <th>占比</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  
  <!--应付来往单位统计-->
  <div class="report-chart border-b">
    <div class="title">应付来往单位统计(共200)</div>
    <div class="report-content">
      <div class="chart-empty">应付来往单位统计</div>
    </div>
  </div>
  
  <!--收入经手人统计-->
  <div class="report-chart border-b">
    <div class="title">收入经手人统计(共200)</div>
    <div class="report-content">
      <div class="chart-empty">暂无收入经手人统计</div>
    </div>
  </div>
  
  <!--支出经手人统计-->
  <div class="report-chart border-b">
    <div class="title">支出经手人统计(共200)</div>
    <div class="report-content">
      <div class="chart-pie">
        <em>单位: ¥</em>
        <div class="pie-demo"><div id="chart-pie-6"></div></div>
      </div>
      <div class="chart-table">
        <table class="fe-table">
          <tr>
            <th>名称</th>
            <th>金额(元)</th>
            <th>占比</th>
          </tr>
          <tr>
            <td><i class="fepoint-1"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-2"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-3"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-4"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-5"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
        </table>
        <table class="fe-table">
          <tr>
            <th>名称</th>
            <th>金额(元)</th>
            <th>占比</th>
          </tr>
          <tr>
            <td><i class="fepoint-6"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-7"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-8"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-9"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
          <tr>
            <td><i class="fepoint-10"></i><span>餐饮</span></td>
            <td>1000</td>
            <td>20%</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" charset="utf-8" src="../../static/lib/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/lib/echarts/echarts.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/lib/jedate/jedate.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/lib/layer/layer.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/js/publicObj.js"></script>
<script>
  publicObj.getIframeMenuHtml('statistics', 'income_expenditure')//获取左侧菜单

  publicObj.echartPie('chart-pie-1', {
    series: [
      {
        name: '收入分类统计',
        data:[
          {value:20, name:'分类1', itemStyle: {color: '#8DAFFF'}},
          {value:20, name:'分类2', itemStyle: {color: '#FFC33E'}},
          {value:20, name:'分类3', itemStyle: {color: '#1A8FFC'}},
          {value:20, name:'分类4', itemStyle: {color: '#83C6FF'}},
        ]
      }
    ],
  })
  publicObj.echartPie('chart-pie-2', {
    series: [
      {
        name: '支出分类统计',
        data:[
          {value:20, name:'分类1', itemStyle: {color: '#4BA8FF'}},
          {value:20, name:'分类2', itemStyle: {color: '#FFC33E'}},
          {value:20, name:'分类3', itemStyle: {color: '#FF4545'}},
          {value:20, name:'分类4', itemStyle: {color: '#83C6FF'}},
          {value:20, name:'分类5', itemStyle: {color: '#AC77FF'}},
          {value:20, name:'分类6', itemStyle: {color: '#8BF6FF'}},
          {value:20, name:'分类7', itemStyle: {color: '#FFF969'}},
          {value:20, name:'分类8', itemStyle: {color: '#FF9AD0'}},
          {value:20, name:'分类9', itemStyle: {color: '#1A8FFC'}},
          {value:20, name:'分类10', itemStyle: {color: '#C4C4C4'}},
        ]
      }
    ],
  })
  publicObj.echartPie('chart-pie-3', {
    series: [
      {
        name: '应收来往单位统计(共200)',
        data:[
          {value:20, name:'分类1', itemStyle: {color: '#4BA8FF'}},
        ]
      }
    ],
  })
  publicObj.echartPie('chart-pie-6', {
    series: [
      {
        name: '支出经手人统计(共200)',
        data:[
          {value:20, name:'分类1', itemStyle: {color: '#8DAFFF'}},
          {value:20, name:'分类2', itemStyle: {color: '#FFBC52'}},
          {value:20, name:'分类3', itemStyle: {color: '#1A8FFC'}},
          {value:20, name:'分类4', itemStyle: {color: '#BFE0FF'}},
        ]
      }
    ],
  })

  /**region 时间范围、日期*/
  publicObj.jeDate_('startTime', {format: "YYYY-MM-DD"});
  publicObj.jeDate_('endTime', {format: "YYYY-MM-DD"});
  function setTime (type) {
    if (type === '') {
      $('#startTime').val('')
      $('#endTime').val('')
    } else {
      $('#startTime').val(publicObj.dayToTime(type, 'date')[0])
      $('#endTime').val(publicObj.dayToTime(type, 'date')[1])
    }
  }
  /**endregion*/
</script>
</html>
