
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>消费记录</title>
  <meta name="viewport"
        content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <link rel="stylesheet" type="text/css" href="../../static/iconfont/feicon/style.css"/>
  <link rel="stylesheet" type="text/css" href="../../static/css/public.css"/>
</head>

<body class="iframe-body">
<div class="iframe-main">
  <!--region 搜索-->
  <form class="search-content">
    <div class="search-container">
      <div class="fe-tab-nav">
        <a href="log_operation.html">操作日志</a>
        <a href="log_recharge.html">支付记录</a>
        <a class="active">消费记录</a>
      </div>
      <ul class="search-left flex-right" style="padding-right: 20px">
        <li>
          <div class="l-content input-search">
            <input type="text" placeholder="快捷搜索" style="width: 150px"/>
            <button type="submit" class="febtn-default">搜索</button>
          </div>
        </li>
      </ul>
    </div>
  </form>
  <!--endregion-->

  <div>
    <table class="fe-table">
      <thead>
      <tr>
        <th class="t-left">
          <label class="fe-checkbox">
            <input type="checkbox" class="check-all">
          </label>
          <a class="display-align"><span>序号</span><i class="feimg-sort-asc"></i></a>
        </th>
        <th>用户名</th>
        <th>金额(元)</th>
        <th width="30%">备注</th>
        <th class="t-left-m" width="40%">生成时间</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <label class="fe-checkbox">
            <input type="checkbox" class="check-td" value="1">
            <font>1</font>
          </label>
        </td>
        <td>张大黄</td>
        <td>220</td>
        <td>哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</td>
        <td class="t-left-m">2019-09-09 12:12</td>
      </tr>
      </tbody>
    </table>
    <div class="table-foot">
      <div class="foot-action">
        <label class="fe-checkbox">
          <input type="checkbox" class="check-all">
        </label>
        <button type="button" class="febtn-white check-all-btn">全选</button>
        <button type="button" class="febtn-white" onclick="del(2)">删除</button>
      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" charset="utf-8" src="../../static/lib/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/lib/layer/layer.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/js/publicObj.js"></script>
<script type="text/javascript">
  publicObj.getIframeMenuHtml('system', 'log_record')//获取左侧菜单

  //删除 type=1:删除单个，2-批量删除
  function del (type) {
    if (type === 2 && !publicObj.getCheckBox()) return false
    var title = +type === 2 ? '确认删除这些记录吗？' : '确认要删除该记录吗？'
    publicObj.confirmDel(function (layeo) {
      publicObj.layerMsg('删除成功', 1)
      parent.layer.close(layeo)
    }, {title: title})
  }
</script>
</html>
