<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>公告详情</title>
  <meta name="viewport"
        content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <link rel="stylesheet" type="text/css" href="../../static/iconfont/feicon/style.css"/>
  <link rel="stylesheet" type="text/css" href="../../static/css/public.css"/>
</head>
<body class="iframe-body">
<div class="iframe-main" style="left: 0;overflow-y: hidden">
  <div class="border-b"><a class="white-title" href="javascript:history.go(-1)"><i class="feimg-left-black"></i><b>公告详情</b></a></div>
  <div class="notice-main">
    <div class="notice-title">20多辆车打滑连环相撞 男子在高速上绝望躲避</div>
    <div class="notice-time">发布时间：2019-12-03 15:49</div>
    <div class="notice-content">
      <p class="part">最近，一段交通事故的视频，在韩国网络上引发热议。 据韩国YTN电视台报道，11月15日早上，在韩国光州至原州高速路段，由于路面湿滑，30分钟内有20多辆汽车连环相撞，造成3人受伤，包括一名80多岁的老太太。</p>
      <p class="part">男子路边挥手，试图叫停汽车(SBS新闻) 期间，有热心男子在路边用力挥手示意，试图阻止二次事故发生。可惜的是，许多后续赶来的汽车，由于速度失控，再次撞了上去。</p>
      <p class="part">最近，一段交通事故的视频，在韩国网络上引发热议。 据韩国YTN电视台报道，11月15日早上，在韩国光州至原州高速路段，由于路面湿滑，30分钟内有20多辆汽车连环相撞，造成3人受伤，包括一名80多岁的老太太。</p>
      <p class="part">男子路边挥手，试图叫停汽车(SBS新闻) 期间，有热心男子在路边用力挥手示意，试图阻止二次事故发生。可惜的是，许多后续赶来的汽车，由于速度失控，再次撞了上去。</p>
    </div>
    <div class="notice-link flex-between">
      <div class="link-prev"><span>上一篇：</span><a class="color-link">20多辆车打滑连环相撞 男子在高速上绝望躲避</a></div>
      <div class="link-next"><span>下一篇：</span><a class="color-link">20多辆车打滑连环相撞 男子在高速上绝望躲避</a></div>
    </div>
  </div>
</div>

</body>
</html>