<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>反馈详情</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" type="text/css" href="../../static/iconfont/diyicon/iconfont.css" />
  <link rel="stylesheet" type="text/css" href="../../static/css/public.css" />
</head>

<body class="iframe-body">
<form class="iframe-main" style="left: 0;overflow-y: hidden">
  <a class="white-title" href="javascript:history.go(-1)"><i class="feimg-left-black"></i><b>反馈详情</b></a>
  <div style="height: calc(100% - 110px);overflow-y: auto">
    <!--说明：[step-1；step-2；step-3]-->
    <div class="border-b fe-step step-1">
      <ul>
        <li>
          <div class="step-title">提交反馈</div>
          <div class="step-icon"></div>
          <div class="step-desc">2019/11/13 17:49:32</div>
        </li>
        <li>
          <div class="step-title">进入处理队列</div>
          <div class="step-icon"></div>
          <div class="step-desc">2019/11/13 17:49:32</div>
        </li>
        <li>
          <div class="step-title">处理完毕</div>
          <div class="step-icon"></div>
          <div class="step-desc"></div>
        </li>
      </ul>
    </div>
    <div class="feedback-view-list">
      <div class="feedback-title">我是主题我是主题我是主题我是主题我是主题我是主题</div>
      <div class="feedback-type">反馈类型:建议</div>
      <ul>
        <li>
          <div class="user-img"><img src="../../static/images/cs_img/user_logo.png"></div>
          <div class="feedback-main">
            <div class="user-name">张小花</div>
            <div class="feedback-content">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈～～～～～～～～～</div>
            <div class="feedback-img">
              <img src="../../static/images/cs_img/user_logo.png"
                   onclick="imgPreview(0,
                   [
                    {alt: '图片1', src: '../static/images/cs_img/user_logo.png'},
                    {alt: '图片2', src: '../static/images/login/login_bg.png'},
                    {alt: '图片3', src: '../static/images/cs_img/img1.png'}
                  ])">
              <img src="../../static/images/login/login_bg.png"
                   onclick="imgPreview(1,
                   [
                    {alt: '图片1', src: '../static/images/cs_img/user_logo.png'},
                    {alt: '图片2', src: '../static/images/login/login_bg.png'},
                    {alt: '图片3', src: '../static/images/cs_img/img1.png'}
                  ])">
              <img src="../../static/images/cs_img/img1.png"
                   onclick="imgPreview(2,
                   [
                    {alt: '图片1', src: '../static/images/cs_img/user_logo.png'},
                    {alt: '图片2', src: '../static/images/login/login_bg.png'},
                    {alt: '图片3', src: '../static/images/cs_img/img1.png'}
                  ])">
            </div>
            <div class="feedback-time">2019/12/5 21:47:39</div>
          </div>
        </li>
        <li>
          <div class="user-img"><img src="../../static/images/cs_img/user_logo.png"></div>
          <div class="feedback-main">
            <div class="user-name">张小花</div>
            <div class="feedback-content">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈～～～～～～～～～</div>
            <div class="feedback-img">
              <img src="../../static/images/login/login_bg.png"
                   onclick="imgPreview(0,
                   [
                    {alt: '图片2', src: '../static/images/login/login_bg.png'},
                    {alt: '图片3', src: '../static/images/cs_img/img1.png'}
                  ])">
              <img src="../../static/images/cs_img/img1.png"
                   onclick="imgPreview(1,
                   [
                    {alt: '图片2', src: '../static/images/login/login_bg.png'},
                    {alt: '图片3', src: '../static/images/cs_img/img1.png'}
                  ])">
            </div>
            <div class="feedback-time">2019/12/5 21:47:39</div>
          </div>
        </li>
      </ul>
      <div class="feedback-form">
        <textarea placeholder="请输入回复内容"></textarea>
        <div class="feedback-upload">
          <div class="file-img-list" id="file-img-list">
            <!--<div class="img-div"><img src="../../static/images/cs_img/admin_avatar.png"><a class="feimg-close-red" onclick="delImg()"></a></div>-->
          </div>
          <div class="file-add" id="file-add-div">
            <input type="file" multiple title=" " id="upload-file-input" onchange="uploadImg(this)">
          </div>
          <span class="color-tip">建议上传正方形的logo(背景透明)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right-row-foot show-income_expenditure">
    <a class="febtn-default" style="width: 94px;">提交回复</a>
    <a class="febtn-default" style="width: 148px;">问题已解决，立即结单</a>
  </div>
</form>
</body>
<script type="text/javascript" charset="utf-8" src="../../static/lib/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/lib/layer/layer.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/js/publicObj.js"></script>
<script>
  parent.$('#iframe-menu').hide()

  //图片预览
  function imgPreview (key, imgArr) {
    var imgData = {
      start: key,
      data: imgArr
    }
    parent.publicObj.imgPreview(imgData, 2)
  }
  
  /**region 上传图片*/
  var imgList = []
  //图片上传后拼接html
  imgHtml()
  function imgHtml () {
    var html = ''
    imgList.forEach(function (value, index) {
      html += '<div class="img-div"><img src="../'+value.url+'"><a class="feimg-close-red" onclick="delImg('+index+')"></a></div>'
    })
    $('#file-img-list').html(html)
    isShowUpload()
  }
  //判断是否可以继续上传图片
  function isShowUpload() {
    if (imgList.length >= 3) {
      $('#file-add-div').hide()
    } else {
      $('#file-add-div').show()
    }
  }
  //上传图片
  function uploadImg(el) {
    publicObj.uploadMultiple({
      el: el,
      max_len: 3 - imgList.length
    }, function (img) {
      imgList.push(img)
      imgHtml()
      $('#upload-file-input').val('')
    })
  }
  //删除某张图片
  function delImg(index) {
    imgList.splice(index, 1)
    imgHtml()
  }
  /**endregion*/
</script>
</html>