<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>亿腾财务专家</title>
  <link rel="stylesheet" type="text/css" href="../static/iconfont/feicon/style.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/public.css" />
</head>

<body>
<!--[if lt IE 9]>
<div class="lt-ie8-bg">
  <p class="browsehappy">You are using an <strong>outdated</strong> browser.</p>
  <p class="browsehappy">对不起，您正在使用的是过时的浏览器.</p>
  <p>请升级您的浏览器（IE8+，或者是火狐、谷歌、Opera、Safari等现代浏览器），以改进您的用户体验！</p>
</div>
<style>
  .lt-ie8-bg{z-index:1111111;position:absolute;top:0;left:0;right:0;bottom:0;background-color:#333;color:#999;padding:100px 20px;text-align:center;font-size:26px;width: 100%;height: 100%}
  .lt-ie8-bg p{margin: 50px!important;}
  .lt-ie8-bg a{color:#f5f5f5;border-bottom:2px solid #fff}
</style>
<![endif]-->
<div>
  <div class="main-top">
    <div class="top-left">
      <div class="logo"></div>
      <div class="login-admin">
        <h2 class="line-one">财务专家</h2>
        <div class="fe-nav">
          <a class="fe-nav-item">张小黄</a>
          <ul class="fe-nav-layer">
            <li>
              <a href="user/user_info.html" target="mainframe">
                <i class="feimg-user-default"></i><span>个人信息</span>
              </a>
            </li>
            <li>
              <a href="user/pwd_edit.html" target="mainframe">
                <i class="feimg-pwd-default"></i>
                <span>修改密码</span>
              </a>
            </li>
            <li>
              <a href="login/login.html">
                <i class="feimg-logout-default"></i>
                <span>退出登录</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="main-nav" class="main-nav">
      <a href="center.html" target="mainframe">首页</a>
      <a href="accountManage/income_expenditure_list.html?type=income" target="mainframe">账目管理</a>
      <a href="memorandum/memorandum_list.html?type=memorandum_unprocessed" target="mainframe">计划任务</a>
      <a href="employee/employee_list.html?type=employee_list" target="mainframe">员工管理</a>
      <a href="asset/asset_list.html?type=employee_list" target="mainframe">资产管理</a>
      <a href="statistics/income_expenditure_report.html" target="mainframe">报表统计</a>
      <a href="company/company_manage.html" target="mainframe">系统管理</a>
    </div>
    <div class="top-right flex-right">
      <a class="admin-msg" href="notice/notice_list.html" target="mainframe">
        <i class="feicon-notice"></i>
        <font>8</font>
      </a>
    </div>
  </div>
  <div class="iframe-menu" id="iframe-menu" style="display: none"><!--左侧菜单--></div>
  <div class="main-container">
    <iframe id="mainframe" name="mainframe" frameborder="0" src="center.html" style="overflow-x: hidden;"></iframe>
  </div>
</div>
</body>
<script type="text/javascript" charset="utf-8" src="../static/lib/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../static/lib/layer/layer.js"></script>
<script type="text/javascript" charset="utf-8" src="../static/js/publicObj.js"></script>
<script type="text/javascript" language="javascript">
  $(function () {
    $("#main-nav").children("a:first-child").addClass("selected");
    $("#main-nav").children("a").click(function () {
      $(this).parent().children("a").removeClass("selected");
      //自身添加样式
      $(this).addClass("selected");
    });
  });
</script>
</html>
